body{
    background-color: #808080;
    font-family: 'EB Garamond', serif;
}

h1{
    /* border: solid; */
    text-align: center;
    color: #FFFACD;
    margin-top: 10rem;
}

p{
    text-align: center;
    color: #FFFACD;
    font-size: 1.5rem;
}

label{
    font-size: 1.5rem;
}